body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  color: gold;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  background: gold;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}
